// Place all the styles related to the public/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.restaurantindex {
  background-image: image-url('restaurant2.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.restaurantshow {
  background-image: image-url('restaurant2.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.cardindex:hover {
  transform: scale(1.1, 1.1);
}


#map {
  height: 300px;
  width: 400px;
}