// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.userindex {
  background-image: image-url('friends2.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.usershow {
  background-image: image-url('friends2.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.userfollow {
  background-image: image-url('friends2.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.cardindex:hover {
  transform: scale(1.1, 1.1);
}

.cardshows:hover {
  transform: scale(1.1, 1.1);
}

.cardfollow:hover {
  transform: scale(1.1, 1.1);
}