<div class="container text-center">
<h2>Muscle Eatoutが叶えたい想い</h2>
<p>かっこいい体を目指しきついトレーニングに励んでいる方、</p>
<p>目標にする体に近づくためにダイエットを行っている方、</p>
<p>そんな日々体に気をつけ自分磨きを行っている全ての方が、</p>
<p>頑張っている自分にご褒美としてたまには外で楽しく美味しくリフレッシュして欲しい。</p>
<p>そんな思いから考えられたアプリケーションです。</p>
</div>