<% if restaurant.favorited_by?(current_user) %>
  <p>
    <%= link_to restaurant_favorites_path(restaurant), method: :delete, remote:true do %>
    ❤<%= restaurant.favorites.count %>
    <%end%>
  </p>
<%else%>
  <p>
    <%= link_to restaurant_favorites_path(restaurant), method: :post, remote:true do %>
    ♡<%= restaurant.favorites.count %>
    <%end%>
  </p>
<%end%>