/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require public/homes
 *= require_tree .
 *= require_self
 */

.ftco-navbar-light {
  background: #808080 !important;
}

.bg-clear {
  background-color: rgba(255, 255, 255, 0)!important;
}

.menu-header {
   background: currentColor;
}
@media screen and (min-width:950px) {
    /*　画面サイズが950pxからはここを読み込む　*/
  .menu-header {
    background: none;
  }
}


